@import "./../../common/colors";

.authors-section {
  padding: 115px 0 70px;
  background-color: $lightBlue;

  .authors-description {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;

    .author-img { border-radius: 50%; }

    .author {
      margin-top: 15px;
      color: $black;
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
    }

    .designation {
      margin-top: 10px;
      color: $white;
      @extend .author;
    }
  }

  /*media query for 1024px starts here*/
  @media only screen and (max-width: 1024px) {
    .authors-description {
      flex-wrap: wrap;
      justify-content: center;
      li { margin: 10px 2%; }
    }
  }
}